/* ----- Layout ----- */

.rename-box {
	margin: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.row {
    margin-left: 0; /* Somehow, Bootstrap uses a negative margin for rows that makes our contents extend too far to the left. */
}

.dropdown-align-right {
    left: auto;
    right: 0; /* Display file list menu to the left of the button to avoid extending outside the page */
}

.dropdown-btns-only {
	min-width: 60px;
}

/* ----- Toolbars ----- */

.btn-toolbar {
  margin-top: 0;
  margin-bottom: 0;
}

/* Support nested button groups in toolbars */

.btn-toolbar > .btn-group > .btn-group {
	margin-left: -1px;
}

.btn-toolbar > .btn-group > .btn-group > .btn {
	-webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
}

.btn-toolbar > .btn-group > .btn-group:first-child > .btn {
	-webkit-border-bottom-left-radius: 4px;
	    -moz-border-radius-bottomleft: 4px;
            border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
            border-top-left-radius: 4px;
}

.btn-toolbar > .btn-group > .btn-group:last-child > .btn {
	-webkit-border-bottom-right-radius: 4px;
	    -moz-border-radius-bottomright: 4px;
            border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
            border-top-right-radius: 4px;
}

.btn-group > .btn-group + .btn {
    /* A button immediately following an inline btn-group should not leave a gap */
	margin-left: -1px;
}

.navbar .btn-group .btn {
	margin-left: -1px; /* Fix group layout in navbar */
}

.nav-tabs .btn-group:first-child {
    margin-left: 5px;
}

.nav-tabs > li > .btn-toolbar,
.row > .btn-toolbar.pull-right {
    margin-top: 3px;
}

/* ----- Tabs ----- */

.nav-tabs {
  margin-bottom: 0;
}

.tab-content {
  position: relative;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
     -moz-border-radius-bottomright: 4px;
     -moz-border-radius-bottomleft: 4px;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;

  -webkit-border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
     -moz-border-radius-topright: 0;
     -moz-border-radius-topleft: 0;
          border-top-right-radius: 0;
          border-top-left-radius: 0;

  margin-top: -1px;
}

div.tab-content,
pre.tab-content {
	margin-bottom: 20px;
}

div.tab-pane {
	padding: 10px;
}

.nav-tabs button.close {
  margin: -3px 0 0 3px;
  padding-left: 3px;
}

.nav-tabs .dropdown-toggle .caret,
.nav-tabs .dropdown-toggle:hover .caret {
  /* Restore caret colours for file editor toolbars */
  border-top-color: black;
  border-bottom-color: black;
}

/* ----- Editors ----- */

.CodeMirror {
  font-size: 20px;
}

.CodeMirror-cursor {
  height: 20px !important; /* FIXME: forcing this for now but we should find out why the height is too low by default */
}

.tab-content.file-editor {
	margin-bottom: 20px;
}

.file-editor .CodeMirror {
  position: relative;
  height: 300px;
}

.CodeMirror-gutter-text {
  color: #bebec5;
}

.CodeMirror-gutter-text pre {
  color: #9c9ca4;
}

.CodeMirror-matchingbracket {
  color: #46a546 !important; /* Bootstrap accent - green */
}

.CodeMirror-nonmatchingbracket {
  color: #f89406 !important; /* Bootstrap accent - orange */
}

.ui-resizable-s {
    height: 7px;
    bottom: 0;
    background: transparent url('icons/resize_handle_corner.png') no-repeat top right;
}

#floating-console {
    background-color: white;
    z-index: 999;
}

.shadow {
    -webkit-box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px -4px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px -px rgba(0, 0, 0, 0.2);

    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
}

#editors {
    z-index: -1;
    position: absolute;
    top: 160px;
    left: 55px;
    right: 55px;
    bottom: 0;
    overflow-y: auto;
}

/* ----- Transcript ----- */

#transcript .CodeMirror-scroll {
    /* Fix size, use scroll bars on overflow */
    max-height: 150px;
    overflow: auto;
}

#transcript-sep {
    display: none; /* initially hidden */
    margin: 2px 0;
    border-top: 0;
    border-bottom: 1px solid #c5c5c5;
}

#transcript .CodeMirror-linewidget {
    padding: 0 4px;
}

/* ----- REPL ----- */

#repl.busy .CodeMirror-cursor {
    display: none !important;
}

.cp-prompt {
    /* CodeMirror gutter class for the prompt */
    width: 1em;
}

.CodeMirror-gutters {
    border-right: 0;
}

#repl CodeMirror {
  height: 1.5em;
}

/* REPL should be 1 line high */
#repl .CodeMirror {
  height: 100%;
  padding: 0;
  margin: 0;
}

#repl .CodeMirror-lines {
  padding: 0;
  margin: 0;
  line-height: 22px;
}

/* Use a block cursor in REPL to differentiate from normal editors */
#repl .CodeMirror-cursor {
  width: 0.5ex;
  background-color: #9a9a9a;
  border: none;
}

.console-line {
  padding-left: 14px;
}

.console-output {
  padding-left: 14px;
}

.console-result {
  padding-left: 14px;
  margin-left: 14px;
}

.console-error {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 14px;
}

#console-row li.active > a {
    background-color: #3272c0;
    color: white;
}

/* ----- Source code highlighting ----- */

.exec-point-code {
/*  border: 1px solid #aaa;*/
  font-size: 20px;
  background-color: yellow;
}

.step-value {
/*  border: 1px solid #aaa;*/
  font-size: 20px;
  background-color: yellow;
}

.error-code {
/*  border: 1px solid #aaa;*/
  background-color: pink;
}

.error-message {
  font-family: times;
  font-style: italic;
}

.exec-lbl-count {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ----- Extra icons ----- */

i.icon-link {
  background-image: url("icons/link.png");
  background-position: 0;
}

[class^="icon-exp-"],
[class*="icon-exp-"] {
  background-image: url("icons/cp-exp.png");
  width: 10px;
  height: 16px;
}

.icon-white,
.nav > .active > a > [class^="icon-exp-"],
.nav > .active > a > [class*=" icon-exp-"],
.dropdown-menu > li > a:hover > [class^="icon-exp-"],
.dropdown-menu > li > a:hover > [class*=" icon-exp-"],
.dropdown-menu > .active > a > [class^="icon-exp-"],
.dropdown-menu > .active > a > [class*=" icon-exp-"] {
  background-image: url("icons/cp-exp-white.png");
}

i.icon-exp-one {
  background-position: 0 0;
}

i.icon-exp-infinity {
  background-position: -10px 0;
}

i.icon-exp-pause {
  background-position: -20px 0;
}
