/* Layout */
body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.showoutline {
  border: 1px solid #aaa;
}

.menuBadge {
  padding-top: 11px;
}

/* ----- Toolbars ----- */

#main-toolbar {
  margin-bottom: 15px;
}

#editor-toolbar {
  margin-bottom: 7px;
}

.btn-row .btn-toolbar {
  margin: 0;
}

/* ----- Tabs ----- */

#editor-tabs {
  margin-bottom: 0;
}

.nav-tabs button.close {
  margin: -3px 0 0 3px;
}

/* ----- Editors ----- */

#main-editor-area {
  padding: 7px 18px;
  
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  
  margin-bottom: 9px;
}

.editor {
  /* Emulate Bootstrap <pre> formatting for CodeMirror editors */
  padding: 0;
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

.CodeMirror {
  font-size: 20px;
  position: relative;
  height: 200px;
}

.CodeMirror-scroll {
  position:  relative;
  height: 100%;
}

.CodeMirror-gutter {
  height: 100%;
/*  background-color: transparent; */
  border: none;
  width: 40px;
}

.CodeMirror-gutter-text {
  font-size: 20px;
/*  background-color: transparent; */
  color: #bebec5;
}

.CodeMirror-gutter-text pre {
  color: #9c9ca4;
}

.CodeMirror-matchingbracket {
  color: #46a546 !important; /* Bootstrap accent - green */
}

.CodeMirror-nonmatchingbracket {
  color: #f89406 !important; /* Bootstrap accent - orange */    
}

/* ----- REPL ----- */

#repl CodeMirror {
  height: 1.5em;
}

#repl {
  font-family: monospace;
  font-size: 12px;
  line-height: 12px;
}

/* REPL should be 1 line high */
#repl .CodeMirror {
  height: 100%;
  padding: 0;
  margin: 0;
  
/*  background: url("icons/icon-prompt-active.png") no-repeat 0 2px; */
/*  padding-left: 14px;*/
}

#repl .CodeMirror-lines {
  padding: 0;
  margin: 0;
}

/* Disable scrolling in REPL */
#repl .CodeMirror-scroll {
  height: auto;
  overflow: visible;
}

/* Use a block cursor in REPL to differentiate from normal editors */
#repl .CodeMirror-cursor {
  width: 1.3ex;
  background-color: gray;
  border: none;
}

.console-line {
/*  background: url("icons/icon-prompt-inactive.png") no-repeat 0 3px; */
  padding-left: 14px;
}

.console-output {
  padding-left: 14px;
}

.console-result {
/*  background: url("icons/icon-prompt-result.png") no-repeat 0 3px; */
  padding-left: 14px;
  margin-left: 14px;
}

.console-error {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 14px;
}

/* ----- Output box ----- */

#outputBoxHeader {
  height: 24px;
  margin-top: 12px;
}

#outputBox {
  height: 235px;
  margin-bottom: 0;
}

#popup-outputBox {
  width: 370px;
  height: 235px;
}

table.pixelBox {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

.pixelBox td {
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
  border: 1px solid #a0a0a0;
}


/* ----- Source code highlighting ----- */

.exec-point-code {
/*  border: 1px solid #aaa;*/
  font-size: 20px;
  background-color: yellow;
}

.error-code {
/*  border: 1px solid #aaa;*/
  background-color: pink;
}

.error-message {
  font-family: times;
  font-style: italic;
}
