/* ----- Layout ----- */

.rename-box {
	margin: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

/* ----- Toolbars ----- */

.btn-toolbar {
  margin-top: 0;
  margin-bottom: 0;
}

/* Support nested button groups in toolbars */

.btn-toolbar > .btn-group > .btn-group {
	margin-left: -1px;
}

.btn-toolbar > .btn-group > .btn-group > .btn {
	-webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
}

.btn-toolbar > .btn-group > .btn-group:first-child > .btn {
	-webkit-border-bottom-left-radius: 4px;
	    -moz-border-radius-bottomleft: 4px;
            border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
            border-top-left-radius: 4px;
}

.btn-toolbar > .btn-group > .btn-group:last-child > .btn {
	-webkit-border-bottom-right-radius: 4px;
	    -moz-border-radius-bottomright: 4px;
            border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
            border-top-right-radius: 4px;
}

.btn-group > .btn-group + .btn {
    /* A button immediately following an inline btn-group should not leave a gap */
	margin-left: -1px;
}

.navbar .btn-group .btn {
	margin-left: -1px; /* Fix group layout in navbar */
}

.nav-tabs .btn-group:first-child {
    margin-left: 5px;
}

/* ----- Tabs ----- */

.nav-tabs {
  margin-bottom: 0;
}

.tab-content {
  position: relative;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
     -moz-border-radius-bottomright: 4px;
     -moz-border-radius-bottomleft: 4px;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;

  -webkit-border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
     -moz-border-radius-topright: 0;
     -moz-border-radius-topleft: 0;
          border-top-right-radius: 0;
          border-top-left-radius: 0;

  margin-top: -1px;
}

div.tab-content,
pre.tab-content {
	margin-bottom: 20px;
}

div.tab-pane {
	padding: 10px;
}

.nav-tabs button.close {
  margin: -3px 0 0 3px;
  padding-left: 3px;
}

/* ----- Editors ----- */

.CodeMirror {
  font-size: 20px;
}

.CodeMirror-cursor {
  height: 20px !important; /* FIXME: forcing this for now but we should find out why the height is too low by default */
}

.tab-content.file-editor {
	margin-bottom: 20px;
}

.file-editor .CodeMirror {
  position: relative;
  height: 200px;
}

.CodeMirror-gutter-text {
  color: #bebec5;
}

.CodeMirror-gutter-text pre {
  color: #9c9ca4;
}

.CodeMirror-matchingbracket {
  color: #46a546 !important; /* Bootstrap accent - green */
}

.CodeMirror-nonmatchingbracket {
  color: #f89406 !important; /* Bootstrap accent - orange */
}

/* ----- Transcript ----- */

#transcript .CodeMirror-scroll {
    /* Fix size, use scroll bars on overflow */
    max-height: 132px;
    overflow: auto;
}

#transcript-sep {
    display: none; /* initially hidden */
    margin: 2px 0;
    border-top: 0;
    border-bottom: 1px solid #c5c5c5;
}

/* ----- REPL ----- */

#repl CodeMirror {
  height: 1.5em;
}

/* REPL should be 1 line high */
#repl .CodeMirror {
  height: 100%;
  padding: 0;
  margin: 0;
}

#repl .CodeMirror-lines {
  padding: 0;
  margin: 0;
  line-height: 22px;
}

/* Use a block cursor in REPL to differentiate from normal editors */
#repl .CodeMirror-cursor {
  width: 0.5ex;
  background-color: #9a9a9a;
  border: none;
}

.console-line {
  padding-left: 14px;
}

.console-output {
  padding-left: 14px;
}

.console-result {
  padding-left: 14px;
  margin-left: 14px;
}

.console-error {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 14px;
}

/* ----- Source code highlighting ----- */

.exec-point-code {
/*  border: 1px solid #aaa;*/
  font-size: 20px;
  background-color: yellow;
}

.step-value {
/*  border: 1px solid #aaa;*/
  font-size: 20px;
  background-color: yellow;
}

.error-code {
/*  border: 1px solid #aaa;*/
  background-color: pink;
}

.error-message {
  font-family: times;
  font-style: italic;
}
