/* ----- Layout ----- */

.rename-box {
	margin: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.row {
    margin-left: 0; /* Somehow, Bootstrap uses a negative margin for rows that makes our contents extend too far to the left. */
    padding: 0 10px;
}

.tooltip.tryme .tooltip-inner {
    font-size: 18px;
    font-weight: bold;
    color: black;
    border: 3px solid #FEE310;
    background-color: #FEF1B8;
}

.tooltip.tryme .tooltip-arrow {
    /* We know only the left placement is used, so don't bother making this more general right now */
    border-left-color: #FEE310;
}

/* ----- Menus ----- */

.dropdown-align-right {
    left: auto;
    right: 0; /* Display file list menu to the left of the button to avoid extending outside the page */
}

.dropdown-btns-only {
	min-width: 60px;
}

/* ----- Toolbars ----- */

.btn-toolbar {
  margin-top: 0;
  margin-bottom: 0;
}

/* Support nested button groups in toolbars */

.btn-toolbar > .btn-group > .btn-group {
	margin-left: -1px;
}

.btn-toolbar > .btn-group > .btn-group > .btn {
	-webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
}

.btn-toolbar > .btn-group > .btn-group:first-child > .btn {
	-webkit-border-bottom-left-radius: 4px;
	    -moz-border-radius-bottomleft: 4px;
            border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
            border-top-left-radius: 4px;
}

.btn-toolbar > .btn-group > .btn-group:last-child > .btn {
	-webkit-border-bottom-right-radius: 4px;
	    -moz-border-radius-bottomright: 4px;
            border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
            border-top-right-radius: 4px;
}

.btn-group > .btn-group + .btn {
    /* A button immediately following an inline btn-group should not leave a gap */
	margin-left: -1px;
}

.navbar .btn-group .btn {
	margin-left: -1px; /* Fix group layout in navbar */
}

.nav-tabs .btn-group:first-child {
    margin-left: 5px;
}

.nav-tabs > li > .btn-toolbar,
.row > .btn-toolbar.pull-right {
    margin-top: 3px;
}

/* ----- Tabs ----- */

.nav-tabs {
  margin-bottom: 0;
}

.tab-content {
  position: relative;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
     -moz-border-radius-bottomright: 4px;
     -moz-border-radius-bottomleft: 4px;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;

  -webkit-border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
     -moz-border-radius-topright: 0;
     -moz-border-radius-topleft: 0;
          border-top-right-radius: 0;
          border-top-left-radius: 0;

  margin-top: -1px;
}

div.tab-content,
pre.tab-content,
#repl {
	margin-bottom: 20px;
}

div.tab-pane {
	padding: 10px;
}

.nav-tabs button.close,
.popover-title > button.close {
  margin: -3px 0 0 3px;
  padding-left: 3px;
}

.nav-tabs .dropdown-toggle .caret,
.nav-tabs .dropdown-toggle:hover .caret {
  /* Restore caret colours for file editor toolbars */
  border-top-color: black;
  border-bottom-color: black;
}

.navbar .btn-group {
    background-color: white; /* Need to show disabled buttons properly */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
}

/* ----- Editors ----- */

.CodeMirror {
  font-size: 20px;
}

.CodeMirror-cursor {
  height: 20px !important; /* FIXME: forcing this for now but we should find out why the height is too low by default */
}

.tab-content.file-editor {
	margin-bottom: 20px;
}

.file-editor .CodeMirror {
  position: relative;
  height: 300px;
}

.CodeMirror-gutter-text {
  color: #bebec5;
}

.CodeMirror-gutter-text pre {
  color: #9c9ca4;
}

.CodeMirror-matchingbracket {
  color: #46a546 !important; /* Bootstrap accent - green */
}

.CodeMirror-nonmatchingbracket {
  color: #f89406 !important; /* Bootstrap accent - orange */
}

.ui-resizable-s {
    height: 7px;
    bottom: 0;
    background: transparent url('icons/resize_handle_corner.png') no-repeat top right;
}

.ui-resizable-handle {
    z-index: 1009; /* Just below bubbles */
}

#floating-console {
    background-color: transparent;
    position: relative;
    z-index: 200;
}

#editors-shadow {
    width: auto;
    margin: 0 10px;
    height: 10px;
    background: transparent url("icons/shadow.png") repeat-x top left;
}

#console-row {
    background: white;
}

#editors {
    position: absolute;
    top: 160px;
    left: 55px;
    right: 55px;
    bottom: 0;
    overflow-y: auto;
}

/* ----- Transcript ----- */

#transcript .CodeMirror-scroll {
    /* Fix size, use scroll bars on overflow */
    max-height: 150px;
    overflow: auto;
}

#transcript-sep {
    display: none; /* initially hidden */
    margin: 2px 0;
    border-top: 0;
    border-bottom: 1px solid #c5c5c5;
}

#transcript .CodeMirror-linewidget {
    padding: 0 4px;
}

#transcript-clear-btn {
    /*
    position: absolute;
    bottom: 5px;
    right: 30px;
    */
    float: right;
    opacity: 0.4;
    z-index: 99;
    padding-top: 2px;
}

#transcript-clear-btn:hover {
    opacity: 1;
}

/* ----- REPL ----- */

#repl.busy .CodeMirror-cursor {
    display: none !important;
}

.cb-prompt {
    /* CodeMirror gutter class for the prompt */
    width: 1em;
}

.CodeMirror-gutters {
    border-right: 0;
}

body[data-lang-level="novice"] pre#repl,
body[data-lang-level="novice"] pre#repl .CodeMirror-gutters {
    background-color: #EDF7FA;
}

body[data-lang-level="standard"] pre#repl,
body[data-lang-level="standard"] pre#repl .CodeMirror-gutters {
    background-color: #FDF6F6;
}

#repl CodeMirror {
  height: 1.5em;
}

/* REPL should be 1 line high */
#repl .CodeMirror {
  height: 100%;
  padding: 0;
  margin: 0;
}

#repl .CodeMirror-lines {
  padding: 0;
  margin: 0;
  line-height: 22px;
}

/* Use a block cursor in REPL to differentiate from normal editors */
#repl .CodeMirror-cursor {
  width: 0.5ex;
  background-color: #9a9a9a;
  border: none;
}

.console-line {
  padding-left: 14px;
}

.console-output {
  padding-left: 14px;
}

.console-result {
  padding-left: 14px;
  margin-left: 14px;
}

.console-error {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 14px;
}

/* ----- Value bubbles ----- */

.popover {
    width: auto !important;
    min-width: 150px;
}

/* ----- Source code highlighting ----- */

.exec-point-code {
/*  border: 1px solid #aaa;*/
  font-size: 20px;
  background-color: yellow;
}

.value-bubble .popover-title {
    background-color: yellow;
}

.value-bubble .arrow {
    border-bottom-color: yellow !important; /* Override bootstrap.js settings */
}

.value-bubble {
    padding: 0 0 1px 0;
}

.step-value {
/*  border: 1px solid #aaa;*/
  font-size: 20px;
  background-color: yellow;
}

body[data-lang-level="novice"] .error-code {
/*  border: 1px solid #aaa;*/
  background-color: pink;
}

body[data-lang-level="standard"] .error-code {
  background-color: #EB9E9B;
}

.error-message {
  font-family: times;
  font-style: italic;
}

.exec-lbl-count {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ----- Extra icons ----- */

i.icon-link {
  background-image: url("icons/link.png");
  background-position: 0;
}

[class^="icon-exp-"],
[class*="icon-exp-"] {
  background-image: url("icons/cb-exp.png");
  width: 10px;
  height: 16px;
}

.icon-white,
.nav > .active > a > [class^="icon-exp-"],
.nav > .active > a > [class*=" icon-exp-"],
.dropdown-menu > li > a:hover > [class^="icon-exp-"],
.dropdown-menu > li > a:hover > [class*=" icon-exp-"],
.dropdown-menu > .active > a > [class^="icon-exp-"],
.dropdown-menu > .active > a > [class*=" icon-exp-"] {
  background-image: url("icons/cb-exp-white.png");
}

i.icon-exp-one {
  background-position: 0 0;
}

i.icon-exp-infinity {
  background-position: -10px 0;
}

i.icon-exp-pause {
  background-position: -20px 0;
}

/* ----- Navbar ----- */

[class*="navbar-color-"] {
  color: #ffffff;
}

[class*="navbar-color-"] .navbar-inner {
  background-repeat: repeat-x;
  border-color: #252525;
}

[class*="navbar-color-"] .brand,
[class*="navbar-color-"] .nav > li > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

[class*="navbar-color-"] .brand:hover,
[class*="navbar-color-"] .nav > li > a:hover {
  color: #d5d5d5; /* custom */
}

[class*="navbar-color-"] .nav > li > a:focus,
[class*="navbar-color-"] .nav > li > a:hover {
  color: #d5d5d5; /* custom */
  background-color: transparent;
}

[class*="navbar-color-"] .nav .active > a,
[class*="navbar-color-"] .nav .active > a:hover,
[class*="navbar-color-"] .nav .active > a:focus {
  color: #ffffff;
  background-color: #111111;
}

[class*="navbar-color-"] .navbar-link {
  color: #ffffff;
}

[class*="navbar-color-"] .navbar-link:hover {
  color: #d5d5d5; /* custom */
}

[class*="navbar-color-"] .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

[class*="navbar-color-"] .nav li.dropdown.open > .dropdown-toggle,
[class*="navbar-color-"] .nav li.dropdown.active > .dropdown-toggle,
[class*="navbar-color-"] .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #111111;
}

[class*="navbar-color-"] .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}

[class*="navbar-color-"] .nav li.dropdown.open > .dropdown-toggle .caret,
[class*="navbar-color-"] .nav li.dropdown.active > .dropdown-toggle .caret,
[class*="navbar-color-"] .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

[class*="navbar-color-"] .navbar-search .search-query {
  color: #ffffff;
  background-color: #515151;
  border-color: #111111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

[class*="navbar-color-"] .navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}

[class*="navbar-color-"] .navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}

[class*="navbar-color-"] .navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}

[class*="navbar-color-"] .navbar-search .search-query:focus,
[class*="navbar-color-"] .navbar-search .search-query.focused {
  padding: 5px 15px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

[class*="navbar-color-"] .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e0e0e;
  *background-color: #040404;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#040404));
  background-image: -webkit-linear-gradient(top, #151515, #040404);
  background-image: -o-linear-gradient(top, #151515, #040404);
  background-image: linear-gradient(to bottom, #151515, #040404);
  background-image: -moz-linear-gradient(top, #151515, #040404);
  background-repeat: repeat-x;
  border-color: #040404 #040404 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

[class*="navbar-color-"] .btn-navbar:hover,
[class*="navbar-color-"] .btn-navbar:active,
[class*="navbar-color-"] .btn-navbar.active,
[class*="navbar-color-"] .btn-navbar.disabled,
[class*="navbar-color-"] .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #040404;
  *background-color: #000000;
}

[class*="navbar-color-"] .btn-navbar:active,
[class*="navbar-color-"] .btn-navbar.active {
  background-color: #000000 \9;
}

/* -- Blue navbar -- */

.navbar-color-blue .navbar-inner {
  background-color: #006dcc; /* fallback color */

  /* Gradients for modern browsers */
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #252525;

   /* IE8-9 gradient filter */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
}

/* -- Turquoise navbar -- */

.navbar-color-turquoise .navbar-inner {
  background-color: #49afcd; /* fallback color */

  /* Gradients for modern browsers */
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);

   /* IE8-9 gradient filter */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
}


/* -- Green navbar -- */

.navbar-color-green .navbar-inner {
  background-color: #5bb75b; /* fallback color */

  /* Gradients for modern browsers */
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);

   /* IE8-9 gradient filter */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
}

/* -- Orange navbar -- */

.navbar-color-orange .navbar-inner {
  background-color: #faa732; /* fallback color */

  /* Gradients for modern browsers */
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);

   /* IE8-9 gradient filter */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}

/* -- Red navbar -- */

.navbar-color-red .navbar-inner {
  background-color: #da4f49; /* fallback color */

  /* Gradients for modern browsers */
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);

   /* IE8-9 gradient filter */
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
}
