body {
    --cb-navbar-color: #90c0ff;
    --cb-focus-repl-navbar-controls-color: #7db6d5;
    --cb-focus-repl-navbar-controls-hover-color: #afd3e6;
    --cb-repl-container-color: #e0f0f6;
    --cb-file-container-color: #f6f6f6;
    --cb-file-tab-inactive-color: #fdfdfd;
    --cb-exec-point-color: yellow;
    --cb-exec-point-bubble-color: var(--cb-exec-point-color);
    --cb-console-height: 260px;    /* initial console height */
    --cb-console-min-height: 55px; /* min console height = ~1 line */
    --cb-playground-height: 260px;
    --cb-playground-width: 370px;
    --cb-playground-min-width: 50px;
    --cb-margin: 8px;
    --cb-main-border-radius: 10px;
    --cb-container-border-radius: 6px;
    --cb-btn-toolbar-border-radius: 6px;
    --cb-file-tab-border-radius: 10px;
}

.cb-vm {
    all:initial;
    font-family: Helvetica;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
    border-radius: var(--cb-main-border-radius); /****************/
    text-align: left;
    z-index: 10;
    width: 100%;
}

.cb-en:lang(de),
.cb-en:lang(es),
.cb-en:lang(fr),
.cb-en:lang(hi),
.cb-en:lang(ja),
.cb-en:lang(pt),
.cb-en:lang(zh),
.cb-de,
.cb-es,
.cb-fr,
.cb-hi,
.cb-ja,
.cb-pt,
.cb-zh {
    display: none;
}

.cb-en:not(:lang(de)):not(:lang(es)):not(:lang(fr)):not(:lang(hi)):not(:lang(ja)):not(:lang(pt)):not(:lang(zh)),
.cb-de:lang(de),
.cb-es:lang(es),
.cb-fr:lang(fr),
.cb-hi:lang(hi),
.cb-ja:lang(ja),
.cb-pt:lang(pt),
.cb-zh:lang(zh) {
    display: inline;
}

[data-cb-setting-ui-lang="en"]:lang(de) > svg,
[data-cb-setting-ui-lang="en"]:lang(es) > svg,
[data-cb-setting-ui-lang="en"]:lang(fr) > svg,
[data-cb-setting-ui-lang="en"]:lang(hi) > svg,
[data-cb-setting-ui-lang="en"]:lang(ja) > svg,
[data-cb-setting-ui-lang="en"]:lang(pt) > svg,
[data-cb-setting-ui-lang="en"]:lang(zh) > svg,
[data-cb-setting-ui-lang="de"]:not(:lang(de)) > svg,
[data-cb-setting-ui-lang="es"]:not(:lang(es)) > svg,
[data-cb-setting-ui-lang="fr"]:not(:lang(fr)) > svg,
[data-cb-setting-ui-lang="hi"]:not(:lang(hi)) > svg,
[data-cb-setting-ui-lang="ja"]:not(:lang(ja)) > svg,
[data-cb-setting-ui-lang="pt"]:not(:lang(pt)) > svg,
[data-cb-setting-ui-lang="zh"]:not(:lang(zh)) > svg {
    visibility: hidden;
}

[data-cb-setting-ui-lang="en"]:not(:lang(de)):not(:lang(es)):not(:lang(fr)):not(:lang(hi)):not(:lang(ja)):not(:lang(pt)):not(:lang(zh)) > svg,
[data-cb-setting-ui-lang="de"]:lang(de) > svg,
[data-cb-setting-ui-lang="es"]:lang(es) > svg,
[data-cb-setting-ui-lang="fr"]:lang(fr) > svg,
[data-cb-setting-ui-lang="hi"]:lang(hi) > svg,
[data-cb-setting-ui-lang="ja"]:lang(ja) > svg,
[data-cb-setting-ui-lang="pt"]:lang(pt) > svg,
[data-cb-setting-ui-lang="zh"]:lang(zh) > svg {
    visibility: visible;
}

pre.cb-vm{
    white-space: pre-wrap;
}

.cb-vm[data-cb-hidden] {
    display: none;
}

.cb-vm[data-cb-floating] {
    position: absolute;
    width: 600px;
    height: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    background-color: #fff;
}

.cb-vm:not([data-cb-show-header]) > div.cb-header,
.cb-vm:not([data-cb-show-footer]) > div.cb-footer,
.cb-vm:not([data-cb-show-console]) > div > div.cb-console,
.cb-vm:not([data-cb-show-repl-container]) > div > div > div.cb-repl-container,
.cb-vm:not([data-cb-show-playground]) > div > div > div.cb-playground {
    display: none;
}

.cb-vm:not([data-cb-show-console]) > div.cb-v-panes > div.cb-pane-splitter,
.cb-vm:not([data-cb-show-playground]) > div.cb-h-panes > div.cb-pane-splitter {
    display: none;
}

.cb-vm:[data-cb-show-header] > div.cb-header,
.cb-vm:[data-cb-show-footer] > div.cb-footer,
.cb-vm:[data-cb-show-console] > div > div.cb-console,
.cb-vm:[data-cb-show-repl-container] > div > div > div.cb-repl-container,
.cb-vm:[data-cb-show-playground] > div > div > div.cb-playground {
/*    display: block; */
/*    display: flex; */
}

.cb-header {
    height: 130px;
    padding: 10px 10px 10px 10px;
    background-color: #f6f6f6;
}

.cb-body {
/*    height: 100%; */
    width: 100%;
/*    background-color: red; */
    margin: 0;
}

.cb-v-panes > .cb-console.cb-pane-rigid { /* for highest specificity */
    height: var(--cb-console-height);
    min-height: var(--cb-console-min-height);
}

.cb-h-panes > .cb-playground.cb-pane-rigid { /* for highest specificity */
    width: var(--cb-playground-width);
    min-width: var(--cb-playground-min-width);
}

.cb-vm[data-cb-show-header] .cb-console {
/*    height: 5.5em; */
}

.cb-repl-container {
    margin: 0;
}

.cb-vm[data-cb-show-header] .cb-repl-container {
/*    max-height: 7.5em; */
}

.cb-repl-container .CodeMirror {
    height: 100%;
    width: 100%;
}

.cb-repl-container .CodeMirror-scroll {
    max-height: var(--cb-console-height);
}

.cb-vm[data-cb-show-header] .cb-repl-container .CodeMirror-scroll {
/*    max-height: 5.5em; */
}

.cb-exec-controls-buttons .cb-button.btn-secondary,
.cb-exec-controls-buttons .cb-button.btn-secondary:focus,
.cb-exec-controls-buttons .cb-button.btn-secondary:active {
    background-color: #f6f6f6;
}
.cb-exec-controls-buttons .cb-button.btn-secondary:hover {
    background-color: #e0e0e0;
}

.cb-navbar-controls {
    background-color: var(--cb-focus-repl-navbar-controls-color);
    border-radius: var(--cb-main-border-radius) var(--cb-main-border-radius) 0 0; /****************/
}

.cb-repl-container {
    border: 0;
    border-radius: var(--cb-container-border-radius);
    margin: var(--cb-margin) 0 0 var(--cb-margin);
    padding: 5px;
    background-color: var(--cb-repl-container-color);
}

.cb-vm:not([data-cb-show-playground]) .cb-repl-container {
    margin: var(--cb-margin) var(--cb-margin) 0 var(--cb-margin);
}

.cb-vm[data-cb-show-playground] .cb-playground {
    position: relative;
    overflow: hidden;
    margin: var(--cb-margin) var(--cb-margin) 0 0;
}

.cb-vm > .cb-exec-controls > .cb-exec-controls-buttons .cb-button.btn-secondary,
.cb-vm > .cb-exec-controls > .cb-exec-controls-buttons .cb-button.btn-secondary:focus,
.cb-vm > .cb-exec-controls > .cb-exec-controls-buttons .cb-button.btn-secondary:active {
    background-color: #e0e0e0;
}

.cb-vm > .cb-exec-controls > .cb-exec-controls-buttons .cb-button.btn-secondary:hover {
    background-color: #d0d0d0;
}

.cb-vm[data-cb-focus-repl] .cb-exec-controls-buttons .cb-button.btn-secondary:hover {
    background-color: var(--cb-focus-repl-navbar-controls-hover-color);
}

.cb-vm[data-cb-focus-repl] .cb-exec-controls-buttons .cb-button.btn-secondary,
.cb-vm[data-cb-focus-repl] .cb-exec-controls-buttons .cb-button.btn-secondary:focus,
.cb-vm[data-cb-focus-repl] .cb-exec-controls-buttons .cb-button.btn-secondary:active {
    background-color: #d0e6f1;
}

.cb-vm[data-cb-focus-repl] .cb-exec-controls-buttons .cb-button.btn-secondary:hover {
    background-color: var(--cb-focus-repl-navbar-controls-hover-color);
}

.cb-navbar-controls {
    background-color: #7db6d5;
}

.cb-repl-container {
    background-color: var(--cb-repl-container-color);
}

.cb-editors {
/*    max-height: 100%; */
/*    height: calc(100% - 13.5em - 55px); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
/*    margin: 0; /* 1em 0.5em 0.5em 0.5em */
    margin: 0 var(--cb-margin) var(--cb-margin) var(--cb-margin);
}

.cb-vm[data-cb-show-header] .cb-editors {
/*    height: calc(100% - 7.5em - 305px); */
}

.cb-file-tabs {
/*    height: 2.8em; */
//    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
    flex-shrink: 0;
    height: 1.75em;/***************************/
}

/**************************/
ul.cb-file-tabs {
    display: inline-flex;
}

.cb-file-tab {
//    overflow: hidden;/***************************/
    margin-left: var(--cb-container-border-radius);
    height: 1.75em;/***************************/
}

.dropdown-item[data-cb-filename] > span > .close {
    opacity: 0;
    filter: invert(100%);
}

.dropdown-item[data-cb-filename]:hover > span > .close {
    opacity: 0.5;
    filter: invert(50%);
}

.dropdown-item[data-cb-filename] > span > .close:hover {
    opacity: 1;
    filter: invert(0%);
}

.cb-file-container {
    max-height: calc(100%);
    height: calc(100% - 1.5em);
    margin: 0;
    padding: 0;
    border: 3px solid var(--cb-file-container-color);
    border-radius: var(--cb-container-border-radius);
    background-color: var(--cb-file-container-color);
    position: relative;
}

.cb-vm:not([data-cb-show-header]):not([data-cb-show-footer]) .cb-file-container .CodeMirror-scroll {
/*    height: 100%; */
    width: 100%;
}

.cb-rename-box {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.cb-footer {
    height: calc( 0.40*(100% - 155px - 55px - 276px - 39px) );
}

.cb-vm:not([data-cb-show-header]) .cb-footer {
/*    height: calc( 0.40*(100% - 0px - 55px - 276px - 39px) ); */
}

.cb-vm:not([data-cb-show-footer]) .cb-footer {
    height: 15px;
}

/*--------------------------- page layout ---------------------------*/

.cb-navbar {
    flex: 0 0;
    border-radius: var(--cb-main-border-radius); /****************/
}

.cb-vm[data-cb-floating] .cb-navbar {
    cursor: move;
}

.cb-exec-btn-step > svg,
.cb-exec-btn-animate > svg,
.cb-exec-btn-eval > svg,
.cb-exec-btn-stop > svg,
.cb-exec-btn-close > svg {
    width: 1.8em;
}

.cb-exec-btn-clone {
    position: relative;
    line-height: 1.3;
    z-index: 9999;
}

.cb-exec-btn-clone > svg {
    position: relative;
    width: 1.1em;
    z-index: 9998;
}

.cb-file-tab > button > svg {
    width: 1.5em;
}

.cb-file-tab > .cb-tab > span,
.cb-file-tab > .cb-tab > input {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0;
  border: 0;
  background-color: inherit;
  color: #bbb;
  white-space: pre;
}

.cb-file-tab.active > .cb-tab > span,
.cb-file-tab.active > .cb-tab > input {
  color: black;
}

.cb-file-tab > .cb-tab > span {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.cb-file-tab > .cb-tab > input {
    width: 20em;
}

.cb-file-tab:not([data-cb-editing]) > .cb-tab > span,
.cb-file-tab[data-cb-editing] > .cb-tab > input {
    display: inline;
}
.cb-file-tab:not([data-cb-editing]) > .cb-tab > input,
.cb-file-tab[data-cb-editing] > .cb-tab > span {
    display: none;
}

.cb-file-tab[data-cb-file-tab-extension=".csv"] > div > .cb-file-tab-editor-type,
.cb-file-tab[data-cb-file-tab-extension=".tsv"] > div > .cb-file-tab-editor-type {
    display: inline;
}

.cb-file-tab:not([data-cb-file-tab-extension=".csv"]):not([data-cb-file-tab-extension=".tsv"]) > div > .cb-file-tab-editor-type {
    display: none;
}

.cb-resize-handle > svg {
    width: 1.3em;
}

.cb-exec-btn-step,
.cb-exec-btn-animate,
.cb-exec-btn-eval,
.cb-exec-btn-stop,
.cb-exec-btn-clone,
.cb-exec-btn-close,
.cb-resize-handle {
    display: none;
}

.cb-vm > .cb-navbar > .cb-navbar-controls > .cb-exec-controls > .cb-exec-controls-buttons > .cb-exec-btn-step,
.cb-vm > .cb-navbar > .cb-navbar-controls > .cb-exec-controls > .cb-exec-controls-buttons > .cb-exec-btn-animate,
.cb-vm > .cb-navbar > .cb-navbar-controls > .cb-exec-controls > .cb-exec-controls-buttons > .cb-exec-btn-eval,
.cb-vm > .cb-navbar > .cb-navbar-controls > .cb-exec-controls > .cb-exec-controls-buttons > .cb-exec-btn-stop,
.cb-vm[data-cb-show-clone] > .cb-exec-controls > .cb-exec-controls-buttons > .cb-exec-btn-clone,
.cb-vm[data-cb-floating] > .cb-navbar > .cb-navbar-controls > .cb-exec-controls > .cb-exec-controls-buttons > .cb-exec-btn-close,
.cb-vm[data-cb-resizable] > .cb-resize-handle {
    display: block;
}

.cb-resize-handle {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn {
    font-size: 100%;
}

.cb-exec-controls-buttons button {
    padding: 0.3em;
    margin: 0;
}

.cb-lang-on-light svg,
.cb-lang-on-dark svg {
    margin-top: -0.2em;
    width: 1em;
}

.cb-menu-settings-lang svg {
    width: 1em;
}

.cb-menu > .dropdown > .dropdown-menu > .dropdown-header {
    font-size: 100%;
    color: gray;
    margin: 0;
    text-transform: none;
}

.cb-menu > .dropdown > .dropdown-menu > .dropdown-item {
    font-size: 100%;
    color: black;
}

/*-------------------------- navbar layout --------------------------*/

.cb-navbar-header {
}

.cb-navbar-controls {
    display: flex;
    justify-content: space-between;
}

.cb-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cb-menu .dropdown-menu {
   font-size: 100%;
   line-height: 1;
}

.cb-menu-lang button,
.cb-menu-file button,
.cb-menu-settings button {
    font-size: 150%;
    background-color: transparent;
    padding: 0.15em 0.6em 0 0.6em;
    margin: 0;
}

.cb-vm[data-cb-dev-mode] .cb-menu-settings > .cb-button > svg {
    filter: invert(16%) sepia(94%) saturate(7497%) hue-rotate(1deg) brightness(99%) contrast(112%);
}

.cb-menu-file button {
    transform: translate(0,-0.1em);
}

.cb-menu-lang .cb-lang-on-light,
.cb-menu-lang .cb-lang-on-dark {
    -webkit-transition: filter 200ms ease-out;
    -moz-transition: filter 200ms ease-out;
    -o-transition: filter 200ms ease-out;
    transition: filter 200ms ease-out;
}

.cb-menu-lang .cb-lang-on-light:hover,
.cb-menu-lang .cb-lang-on-dark:hover {
    filter: invert(100%) grayscale(100%);
}

.cb-menu-file .dropdown-item {
    min-width: 15em;
    display: flex;
    justify-content: space-between;
}

.cb-menu-file > .cb-button > svg,
.cb-menu-settings > .cb-button > svg {
    filter: invert(100%);
    -webkit-transition: filter 200ms ease-out;
    -moz-transition: filter 200ms ease-out;
    -o-transition: filter 200ms ease-out;
    transition: filter 200ms ease-out;
}

.cb-button,
.cb-tab {
    border: 0;
    outline: none;
}

.cb-button:active {
    background-color: transparent !important;
}

.cb-menu-file > .cb-button:hover > svg,
.cb-menu-settings > .cb-button:hover > svg {
    filter: invert(0%);
}

.cb-menu-file > .cb-button > svg {
    width: 1.2em;
}

.cb-menu-settings > .cb-button > svg {
    width: 1.2em;
}

.cb-svg-trash,
.cb-svg-download,
.cb-svg-mail,
.cb-svg-clipboard,
.cb-svg-close,
.cb-svg-rename,
.cb-svg-checkmark {
    width: 1em;
}

.cb-svg-udem-logo {
    width: 10em;
}

.cb-file-selection .cb-file-new {
    font-weight: bold;
}

.cb-menu-file .dropdown-item .cb-file-buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: -2em;
    font-size: 65%;
}

.cb-exec-controls {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cb-vm > .cb-exec-controls {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    right: 0;
    margin-right: 0.5em;
}

.cb-navbar-controls {
    width: 100%;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

.cb-exec-controls-counter {
}

.cb-exec-step-counter {
    margin: 0.5em;
}

.cb-step-counter {
    padding-bottom: 0.4em;
    font-family: Verdana;
    font-size: 70%;
    font-style: normal;
}

.cb-button.btn-secondary,
.cb-button.btn-secondary:focus,
.cb-button.btn-secondary:active {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
}

.cb-navbar-footer {
}

/*-------------------------- file editors ---------------------------*/

.cb-editors .nav-tabs {
    border-bottom: 0;
}

.cb-file-tabs > .cb-file-tab {
    border-bottom: 0;
    border-top: 1px solid var(--cb-file-container-color);
    border-left: 1px solid var(--cb-file-container-color);
    border-right: 1px solid var(--cb-file-container-color);
    background-color: var(--cb-file-tab-inactive-color);
    color: #ccc;
    display: flex;
    border-top-left-radius: var(--cb-file-tab-border-radius);
    border-top-right-radius: var(--cb-file-tab-border-radius);
}

.cb-file-tabs > .cb-file-tab.active,
.cb-file-tabs > .cb-file-tab.active:hover {
    color: black;
    background-color: var(--cb-file-container-color);
}

.cb-file-tabs > .cb-file-tab > button.close {
    margin: -0.5em 0 -0.1em -1em;
    padding-right: 0;
}

.cb-file-tabs > .cb-file-tab > .cb-tab-label {
    padding-right: 0.8em;
    padding-left: 0.1em;
}

.cb-file-tabs > .cb-file-tab > .cb-tab-label > .cb-rename-box {
    margin-left: 2em;
}

.cb-file-tabs > .cb-file-tab > .close {
    font-size: 90%;
    color: #aaa;
    opacity: 0;
}

.cb-file-tabs > .cb-file-tab:hover > .close {
    opacity: 0.5;
    filter: invert(50%);
}

.cb-file-tabs > .cb-file-tab:hover > .close:hover {
    opacity: 1;
}

.cb-file-tabs > .cb-file-tab.active > .close {
    color: black;
    opacity: 0;
}

.cb-file-tabs > .cb-file-tab.active:hover > .close {
    opacity: 0.5;
}

.cb-file-tabs > .cb-file-tab.active:hover > .close:hover {
    opacity: 1;
}

/*--------------------------- CodeMirror ----------------------------*/


.cb-file-container .CodeMirror {
    height: 100%;
}

.cb-vm .CodeMirror-matchingbracket {
    color: #46a546 !important; /* green */
}

.cb-vm .CodeMirror-nonmatchingbracket {
    color: #f89406 !important; /* orange */
}

.cb-vm .cm-tab {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAAAMCAYAAADBJPs9AAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAASKADAAQAAAABAAAADAAAAAA9QrhmAAAAbklEQVRIDe3SQQrAMAgEwLTkgT7VH7YsNOBB46Wn7OYiqAQcdgw9CUhAAv8LuPuT/Yp+nN3ZEksvQlQ3UwMBpUOa3UIle1IfBmZ2ZTfRJ2ihVEER0CdUJWhWgyV7ao2J2RnQJ2iHg3BQA3U4AHoB3jchQhvimSIAAAAASUVORK5CYII=);
    background-position: right;
    background-repeat: no-repeat;
/*    background-color: #eb48ff; */
}

.cb-vm .CodeMirror,
.cb-vm .CodeMirror-gutters {
    background-color: transparent;
}

.cb-vm .CodeMirror-linenumber {
    min-width: 2em;
    color: #ccc;
}

[data-cb-prompt-width="1"] .cb-repl-cm-gutter { width: 0.8em; }
[data-cb-prompt-width="2"] .cb-repl-cm-gutter { width: 1.6em; }
[data-cb-prompt-width="3"] .cb-repl-cm-gutter { width: 2.4em; }

.cb-file-cm-gutter {
    width: 0;
}

.cb-vm .CodeMirror-gutters {
    border-right: 0;
}

.cb-transcript {
}

/* use block cursor */

.cb-vm .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: rgba(0,0,0,0.3);
}

.cb-read-only .CodeMirror-cursor,
.cb-mode-running .CodeMirror-cursor {
    display: none !important;
}

/* prevent syntax highlighting in REPL output */

.cb-repl-result,
.cb-repl-result.cm-keyword,
.cb-repl-result.cm-atom,
.cb-repl-result.cm-number,
.cb-repl-result.cm-def,
.cb-repl-result.cm-variable,
.cb-repl-result.cm-punctuation,
.cb-repl-result.cm-property,
.cb-repl-result.cm-operator,
.cb-repl-result.cm-variable-2,
.cb-repl-result.cm-variable-3,
.cb-repl-result.cm-type,
.cb-repl-result.cm-comment,
.cb-repl-result.cm-string,
.cb-repl-result.cm-string-2,
.cb-repl-result.cm-meta,
.cb-repl-result.cm-qualifier,
.cb-repl-result.cm-builtin,
.cb-repl-result.cm-bracket,
.cb-repl-result.cm-tag,
.cb-repl-result.cm-attribute,
.cb-repl-result.cm-hr,
.cb-repl-result.cm-link,
.cb-repl-result.cm-error {
    color: black;
}

.cb-repl-output,
.cb-repl-output.cm-keyword,
.cb-repl-output.cm-atom,
.cb-repl-output.cm-number,
.cb-repl-output.cm-def,
.cb-repl-output.cm-variable,
.cb-repl-output.cm-punctuation,
.cb-repl-output.cm-property,
.cb-repl-output.cm-operator,
.cb-repl-output.cm-variable-2,
.cb-repl-output.cm-variable-3,
.cb-repl-output.cm-type,
.cb-repl-output.cm-comment,
.cb-repl-output.cm-string,
.cb-repl-output.cm-string-2,
.cb-repl-output.cm-meta,
.cb-repl-output.cm-qualifier,
.cb-repl-output.cm-builtin,
.cb-repl-output.cm-bracket,
.cb-repl-output.cm-tag,
.cb-repl-output.cm-attribute,
.cb-repl-output.cm-hr,
.cb-repl-output.cm-link,
.cb-repl-output.cm-error {
    color: black;
}

.cb-repl-error,
.cb-repl-error.cm-keyword,
.cb-repl-error.cm-atom,
.cb-repl-error.cm-number,
.cb-repl-error.cm-def,
.cb-repl-error.cm-variable,
.cb-repl-error.cm-punctuation,
.cb-repl-error.cm-property,
.cb-repl-error.cm-operator,
.cb-repl-error.cm-variable-2,
.cb-repl-error.cm-variable-3,
.cb-repl-error.cm-type,
.cb-repl-error.cm-comment,
.cb-repl-error.cm-string,
.cb-repl-error.cm-string-2,
.cb-repl-error.cm-meta,
.cb-repl-error.cm-qualifier,
.cb-repl-error.cm-builtin,
.cb-repl-error.cm-bracket,
.cb-repl-error.cm-tag,
.cb-repl-error.cm-attribute,
.cb-repl-error.cm-hr,
.cb-repl-error.cm-link,
.cb-repl-error.cm-error {
    color: #eb48ff;
    font-family: Times;
    font-style: italic;
}

/*--------------------------- Split panes ---------------------------*/

.cb-v-panes {
    flex-direction: column;
}

.cb-h-panes {
    flex-direction: row;
}

.cb-v-panes,
.cb-h-panes {
    display: flex;
    width: 100%;
    height: 100%;
}

.cb-v-panes > .cb-pane-rigid {
/*    overflow-y: auto; */
    height: 100%;
    min-height: 35px;
}

.cb-h-panes > .cb-pane-rigid {
/*    overflow-x: auto; */
    width: 100%;
    min-width: 35px;
}

.cb-v-panes > .cb-pane-rigid,
.cb-h-panes > .cb-pane-rigid {
/*    flex: 0 0 35px; */
/*    margin: 0; */
/*    flex: 0 0; */
}

.cb-v-panes > .cb-pane-elastic {
/*    overflow-y: auto; */
    height: 100%;
    min-height: 35px;
}

.cb-h-panes > .cb-pane-elastic {
/*    overflow-x: auto; */
    width: 100%;
    min-width: 35px;
}

.cb-v-panes > .cb-pane-elastic,
.cb-h-panes > .cb-pane-elastic {
    flex: 1 0;
/*    margin: 0; */
}

.cb-v-panes > .cb-pane-splitter {
    cursor: row-resize;
    width: 100%;
}

.cb-h-panes > .cb-pane-splitter {
    cursor: col-resize;
    height: 100%;
}

.cb-v-panes > .cb-pane-splitter,
.cb-h-panes > .cb-pane-splitter {
    flex: 0 0;
    padding: var(--cb-margin) var(--cb-margin) 0 0; /* width of splitter bar */
/*    background-color: rgba(0,0,0,0.1); */
}

/*------------------------- Error messages --------------------------*/

.cb-code-error {
    background-color: #eb48ff;
}

.cb-code-error-eol > span:after {
    content: " ";
/*    content: "                                                                                                                                                                        "; /* there must be a better way to go to end of line... */
    background-color: #eb48ff;
}

/*-------------------------- Font size ------------------------------*/

.cb-code-font {
    font-family: "Lucida Console", "Hack", Monaco, monospace;
}

.cb-vm .CodeMirror,
.cb-vm .CodeMirror pre.CodeMirror-line {
    font-family: "Lucida Console", "Hack", Monaco, monospace;
    font-size: 100%;
    line-height: 1.4;
    box-shadow: none;
}

.cb-vm .CodeMirror-dialog {
  background: #FFFFE0;
}

.cb-vm[data-cb-large-font] .cb-console,
.cb-vm[data-cb-large-font] .cb-editors,
.cb-vm[data-cb-large-font] .tippy-box[data-theme="cb-exec-point-bubble"] {
    font-size: 140%;
    line-height: 1.4;
}

/*------------------ Execution point highlighting -------------------*/

.cb-exec-point-code {
    background-color: var(--cb-exec-point-color);
}

.tippy-box[data-theme="cb-exec-point-bubble"] {
    font-size: 100%;
    min-width: 8em;
    background-color: var(--cb-exec-point-bubble-color);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
}

.tippy-box[data-theme="cb-exec-point-bubble"] > .tippy-arrow {
    color: var(--cb-exec-point-bubble-color);
}

.tippy-box[data-theme="cb-exec-point-bubble"] > .tippy-content {
    padding: 0;
    font-size: 80%;
    width: 100%;
    color: black;
}

.tippy-box[data-theme="cb-exec-point-bubble"] .cb-exec-point-bubble-value-no-context {
    padding: 0.3em;
    text-align: center;
}

.tippy-box[data-theme="cb-exec-point-bubble"] .cb-exec-point-bubble-value {
    padding: 0.3em;
    text-align: center;
}

.tippy-box[data-theme="cb-exec-point-bubble"] .cb-exec-point-bubble-context {
    border-top: 2px solid #ccc;
    padding: 0.3em;
}

.tippy-box[data-theme="cb-exec-point-bubble"] .cb-exec-point-bubble-binding {
    display: flex;
    font-family: "Lucida Console", "Hack", Monaco, monospace;
}

.tippy-box[data-theme="cb-exec-point-bubble"] .cb-exec-point-bubble-binding .cb-code-font {
    font-weight: bold;
    font-size: 110%;
    line-height: calc(100 * 1.4 / 110);
}

/*-------------------------------------------------------------------*/

.cb-about-box {
    z-index: 999999;
}

/*-------------------------------------------------------------------*/

/*
.tooltip.bs-tooltip-left .tooltip-inner {
    font-size: 100%;
    font-weight: bold;
    color: black;
    border: 5px solid black;
    background-color: #FEF1B8;
}
*/

/*-------------------------------------------------------------------*/





/* ----- Layout ----- */


.row {
    margin-left: 0; /* Somehow, Bootstrap uses a negative margin for rows that makes our contents extend too far to the left. */
    padding: 0 10px;
}

#openFileModal input {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    line-height: 0;
}

/* ----- Menus ----- */

.dropdown-align-right {
    left: auto;
    right: 0; /* Display file list menu to the left of the button to avoid extending outside the page */
}

.dropdown-btns-only {
	min-width: 60px;
}

/* ----- Toolbars ----- */

.btn-toolbar {
  margin-top: 0;
  margin-bottom: 0;
}

/* Support nested button groups in toolbars */

/* Support nested button groups in toolbars */

.cb-exec-controls > .btn-group {
    margin-left: -1px;
}

.cb-exec-controls > .btn-group > .btn {
    border-radius: 0px;
}

.cb-exec-controls > .btn-group > .btn:first-child {
    border-top-left-radius: var(--cb-btn-toolbar-border-radius);
    border-bottom-left-radius: var(--cb-btn-toolbar-border-radius);
}

.cb-exec-controls > .btn-group > .btn:last-child {
    border-top-right-radius: var(--cb-btn-toolbar-border-radius);
    border-bottom-right-radius: var(--cb-btn-toolbar-border-radius);
}

.btn-toolbar > .btn-group > .btn-group {
	margin-left: -1px;
}

.btn-toolbar > .btn-group > .btn-group > .btn {
	-webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
}

.btn-toolbar > .btn-group > .btn-group:first-child > .btn {
	-webkit-border-bottom-left-radius: 4px;
	    -moz-border-radius-bottomleft: 4px;
            border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
            border-top-left-radius: 4px;
}

.btn-toolbar > .btn-group > .btn-group:last-child > .btn {
	-webkit-border-bottom-right-radius: 4px;
	    -moz-border-radius-bottomright: 4px;
            border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
            border-top-right-radius: 4px;
}

.btn-group > .btn-group + .btn {
    /* A button immediately following an inline btn-group should not leave a gap */
	margin-left: -1px;
}

.navbar .btn-group .btn {
	margin-left: -1px; /* Fix group layout in navbar */
}

.nav-tabs .btn-group:first-child {
    margin-left: 5px;
}

.nav-tabs > li > .btn-toolbar,
.row > .btn-toolbar.pull-right {
    margin-top: 3px;
}

/* ----- Tabs ----- */

.nav-tabs {
  margin-bottom: 0;
}

.tab-content {
  position: relative;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
     -moz-border-radius-bottomright: 4px;
     -moz-border-radius-bottomleft: 4px;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;

  -webkit-border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
     -moz-border-radius-topright: 0;
     -moz-border-radius-topleft: 0;
          border-top-right-radius: 0;
          border-top-left-radius: 0;

  margin-top: -1px;
}

div.tab-content,
pre.tab-content {
    margin-bottom: 20px;
}

div.tab-pane {
    padding: 10px;
}

.nav-tabs button.close,
.popover-title > span > button.close {
  margin: -3px -8px 0 0;
  padding-left: 8px;
}

.nav-tabs .dropdown-toggle .caret,
.nav-tabs .dropdown-toggle:hover .caret {
  /* Restore caret colours for file editor toolbars */
  border-top-color: black;
  border-bottom-color: black;
}

.navbar .btn-group {
    background-color: white; /* Need to show disabled buttons properly */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
}

/* ----- DOM element for experimentation ----- */

.cb-html-window table,
#main table {
    float: left;
    table-layout: fixed;
    border-collapse: collapse;
}

.cb-html-window table td,
#main table td {
    padding: 0;
    font-family: Helvetica;
    text-align: center;
    vertical-align: center;
    border: 1px solid black;
}

.cb-html-window table td {
    width: 64px;
    height: 64px;
    font-size: 40px;
}

#main table td {
    width: 100px;
    height: 100px;
    font-size: 60px;
}

.cb-html-window table td img,
#main table td img {
    display: block;
    object-fit: contain;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

/* ----- Drawing window ----- */

.cb-drawing-window {
/*    flex: 0 0 384px;
    padding: 15px 15px 15px 0;
*/
    padding: 0;
    display: none;
}

.cb-drawing-window > .cb-turtle,
.cb-drawing-window > .cb-drawing,
.cb-drawing-window > .cb-grid {
    position: absolute;
    right: 0;
}

.cb-drawing-window > .cb-drawing {
    box-shadow: -3px 3px 3px 0 #999;
}

/* ----- Pixels window ----- */

.cb-pixels-window {
/*    flex: 0 0 384px;
    padding: 15px 15px 15px 0;
*/
    padding: 0 0 0 0.5em;
    margin: 0;
    float: right;
    display: none;
}

.cb-pixels-window > .cb-pixels,
.cb-pixels-window > .cb-grid {
    position: absolute;
    right: 0;
}

.cb-pixels-window > .cb-pixels {
    box-shadow: -3px 3px 3px 0 #999;
}

.cb-menu-context {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    z-index: 999999;
}

/* -------------------------------------
 * WORK ON ADDING TABS TO THE HELP MODAL
 * ------------------------------------- */
.cb-modal-dialog {
    width: calc(100% - 1rem);
}

@media (min-width: 576px) {
    .cb-modal-dialog {
        max-width: calc(100% - 3.5rem);
    }
}

#cb-help-box .js-novice,
#cb-help-box .js-standard,
#cb-help-box .py-novice {
    display: none;
}

[data-cb-lang=js-novice] ~ div #cb-help-box .js-novice,
[data-cb-lang=js-standard] ~ div #cb-help-box .js-standard,
[data-cb-lang=py-novice] ~ div #cb-help-box .py-novice {
    display: block;
}

[data-cb-lang=js-novice] ~ div #cb-help-box span.js-novice,
[data-cb-lang=js-standard] ~ div #cb-help-box span.js-standard,
[data-cb-lang=py-novice] ~ div #cb-help-box span.py-novice {
    display: inline;
}

table.cb-keybindings td:nth-child(1)
{
    text-align: right;
}

#grammarTab {
    margin-top: 10px;
}

.grammar-clickable:hover {
    cursor: pointer;
}

.grammar-production {
    display: flex;
    padding: 0 5px;
    transition: 1s ease background-color;
}

.grammar-production.grammar-highlight {
    background-color: yellow;
}

.grammar-production:first-of-type {
    padding-top: 0;
}

.grammar-category-box {
    color: #aaa;
    flex-grow: 0;
    margin-bottom: 0;
    padding: 1px 0 0;
}

.grammar-rule-group {
    color: #aaa;
    flex-grow: 1;
    margin-left: 5px;
}

.grammar-rule {
    display: inline-block;
    margin-bottom: 4px;
    padding: 1px 7px 2px 2px;
    vertical-align: top;
}

.grammar-rule:not(:first-of-type) {
    border-left: 1px solid #ccc;
    margin-left: -2px;
    padding-left: 9px;
}

.grammar-production .grammar-category {
    color: black;
    font-weight: normal;
}

.grammar-category-box .grammar-category {
    background-color: transparent;
    color: #333;
    font-weight: bold;
    margin-right: 5px!important;
}

.grammar-production .grammar-category,
.grammar-production .grammar-token {
    font-size: 87.5%;
}

.grammar-production .grammar-token {
    background-color: #e6e6e6;
    border-radius: .2rem;
    color: #333;
    font-family: "Lucida Console", "Hack", Monaco, monospace;
    font-style: normal;
    margin: 0 1px ;
    padding: .1rem .3rem;
}

.grammar-token.multi {
    display: block;
}
