.cb-vm:not([data-cb-show-header]) .cb-header,
.cb-vm:not([data-cb-show-footer]) .cb-footer,
.cb-vm:not([data-cb-show-console]) .cb-console,
.cb-vm:not([data-cb-show-repl-container]) .cb-repl-container,
.cb-vm:not([data-cb-show-playground]) .cb-playground,
.cb-vm:not([data-cb-show-editors]) .cb-editors {
    display: none;
}

.cb-console {
    display: flex;
    align-items: flex-start;
    margin: 0.5em;
    padding: 0;
    height: 11.5em;
}

.cb-repl-container {
    width: 100%;
    max-height: 13.5em; /* 11.5em + 2*1em */
    padding: 0.3em;
    border-radius: 0.3em;
    background-color: orange;
}

.cb-repl-container .CodeMirror {
    height: auto;
    max-height: 11.5em;
}

.cb-repl-container .CodeMirror-scroll {
    height: auto;
    max-height: 11.5em;
}

.cb-exec-controls-buttons .cb-button.btn-secondary,
.cb-exec-controls-buttons .cb-button.btn-secondary:focus,
.cb-exec-controls-buttons .cb-button.btn-secondary:active {
    background-color: #f6f6f6;
}
.cb-exec-controls-buttons .cb-button.btn-secondary:hover {
    background-color: #e0e0e0;
}

.cb-navbar-controls {
    background-color: #7db6d5;
}

.cb-repl-container {
    border: 0;
    background-color: #e0f0f6;
}

.cb-vm > .cb-exec-controls > .cb-exec-controls-buttons .cb-button.btn-secondary,
.cb-vm > .cb-exec-controls > .cb-exec-controls-buttons .cb-button.btn-secondary:focus,
.cb-vm > .cb-exec-controls > .cb-exec-controls-buttons .cb-button.btn-secondary:active {
    background-color: #e0e0e0;
}

.cb-vm > .cb-exec-controls > .cb-exec-controls-buttons .cb-button.btn-secondary:hover {
    background-color: #d0d0d0;
}

.cb-focus-repl .cb-exec-controls-buttons .cb-button.btn-secondary:hover {
    background-color: #afd3e6;
}

.cb-focus-repl .cb-exec-controls-buttons .cb-button.btn-secondary,
.cb-focus-repl .cb-exec-controls-buttons .cb-button.btn-secondary:focus,
.cb-focus-repl .cb-exec-controls-buttons .cb-button.btn-secondary:active {
    background-color: #d0e6f1;
}

.cb-focus-repl .cb-exec-controls-buttons .cb-button.btn-secondary:hover {
    background-color: #afd3e6;
}

.cb-navbar-controls {
    background-color: #7db6d5;
}

.cb-repl-container {
    background-color: #e0f0f6;
}

.cb-editors {
    max-height: 100%;
    height: calc(100% - 12.5em); /* 7.5em + 2*1em + 1em */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em 0.5em 0.5em 0.5em;
}

.cb-file-tabs {
    height: 2.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
}

.dropdown-item[data-cb-filename] > span > .close {
    opacity: 0;
}

.dropdown-item[data-cb-filename]:hover > span > .close {
    opacity: 0.5;
}

.dropdown-item[data-cb-filename] > span > .close:hover {
    opacity: 1;
}

#cb-form-download {
    display: none;
}

.cb-file-container {
    max-height: calc(100%);
    height: calc(100% - 1em);
    margin: 0;
    padding: 0;
    border: 0;
    border-top-right-radius:  0.3em;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    background-color: #f6f6f6;
}

.cb-file-container {
    height: calc(100% - 2em);
}

.cb-vm:not([data-cb-show-header]):not([data-cb-show-footer]) .cb-file-container .CodeMirror-scroll {
    max-height: 200px;
    height: auto;
}

.cb-rename-box {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.cb-footer {
    height: calc( 0.40*(100% - 155px - 55px - 276px - 39px) );
}

.cb-vm:not([data-cb-show-header]) .cb-footer {
    height: calc( 0.40*(100% - 0px - 55px - 276px - 39px) );
}

.cb-vm:not([data-cb-show-footer]) .cb-footer {
    height: 15px;
}

/*--------------------------- page layout ---------------------------*/

body {
    --cb-navbar-color: #90c0ff;
    --cb-exec-point-color: yellow;
    --cb-exec-point-bubble-color: var(--cb-exec-point-color);
}

.cb-navbar {
    background-color: var(--cb-navbar-color);
}

.cb-exec-btn-step > svg,
.cb-exec-btn-animate > svg,
.cb-exec-btn-eval > svg,
.cb-exec-btn-stop > svg {
    width: 1.8em;
}

.btn {
    font-size: 100%;
}

.cb-exec-controls-buttons button {
    padding: 0.3em;
    margin: 0;
}

.cb-lang-on-light svg,
.cb-lang-on-dark svg {
    margin-top: -0.2em;
    width: 1em;
}

.cb-menu-settings-lang svg {
    width: 1em;
}

.cb-menu-settings .dropdown-header {
    font-size: 100%;
}

/*-------------------------- navbar layout --------------------------*/

.cb-navbar-header {
}

.cb-navbar-controls {
    display: flex;
    justify-content: space-between;
}

.cb-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cb-menu .dropdown-menu {
   font-size: 100%;
   line-height: 1;
}

.cb-menu-lang button,
.cb-menu-file button,
.cb-menu-settings button {
    font-size: 150%;
    background-color: transparent;
    padding: 0.15em 0.6em 0 0.6em;
    margin: 0;
}

.cb-menu-file button {
    transform: translate(0,-0.1em);
}

.cb-menu-lang .cb-lang-on-light,
.cb-menu-lang .cb-lang-on-dark {
    -webkit-transition: filter 200ms ease-out;
    -moz-transition: filter 200ms ease-out;
    -o-transition: filter 200ms ease-out;
    transition: filter 200ms ease-out;
}

.cb-menu-lang .cb-lang-on-light:hover,
.cb-menu-lang .cb-lang-on-dark:hover {
    filter: invert(100%) grayscale(100%);
}

.cb-menu-file .dropdown-item {
    min-width: 15em;
    display: flex;
    justify-content: space-between;
}

.cb-menu-file > .cb-button > svg,
.cb-menu-settings > .cb-button > svg {
    filter: invert(100%);
    -webkit-transition: filter 200ms ease-out;
    -moz-transition: filter 200ms ease-out;
    -o-transition: filter 200ms ease-out;
    transition: filter 200ms ease-out;
}

.cb-button {
    border: 0;
}

.cb-button:active {
    background-color: transparent !important;
}

.cb-menu-file > .cb-button:hover > svg,
.cb-menu-settings > .cb-button:hover > svg {
    filter: invert(0%);
}

.cb-menu-file > .cb-button > svg {
    width: 1.2em;
}

.cb-menu-settings > .cb-button > svg {
    width: 0.75em;
}

.cb-svg-trash,
.cb-svg-download,
.cb-svg-mail,
.cb-svg-close,
.cb-svg-checkmark {
    width: 1em;
}

.cb-file-selection .cb-file-new {
    font-weight: bold;
}

.cb-menu-file .dropdown-item .cb-file-buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: -2em;
    font-size: 65%;
}

.cb-exec-controls {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cb-vm > .cb-exec-controls {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    right: 0;
    z-index: 99999;
    margin-right: 0.5em;
    opacity: 0.75;
}

.cb-navbar-controls {
    width: 100%;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

.cb-exec-controls-counter {
}

.cb-exec-step-counter {
    margin: 0.5em;
}

.cb-step-counter {
    padding-bottom: 0.4em;
    font-family: Verdana;
    font-size: 70%;
    font-style: normal;
}

.cb-button.btn-secondary,
.cb-button.btn-secondary:focus,
.cb-button.btn-secondary:active {
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
}

.zzzcb-button.btn-secondary {
    border-color: transparent !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.cb-navbar-footer {
}

/*-------------------------- file editors ---------------------------*/

.cb-editors .nav-tabs {
    border-bottom: 0;
}

.cb-file-tabs .cb-file-tab {
    border-bottom: 0;
    border-top: 1px solid #f6f6f6;
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
    background-color: #fdfdfd;
    color: #ccc;
    margin-right: 10px;
    display: flex;
}

.cb-file-tabs .cb-file-tab.active,
.cb-file-tabs .cb-file-tab.active:hover {
    border: 0;
    color: black;
    background-color: #f6f6f6;
}

.cb-file-tabs .cb-file-tab button.close {
  margin: 0 0 -0.1em -1em;
  padding-right: 0;
}

.cb-file-tabs .cb-file-tab .tab-label {
  padding-right: 0.8em;
  padding-left: 0.5em;
}

.cb-file-tabs .cb-file-tab .close {
    font-size: 90%;
    color: #aaa;
    opacity: 0;
}

.cb-file-tabs .cb-file-tab:hover .close {
    opacity: 0.5;
}

.cb-file-tabs .cb-file-tab:hover .close:hover {
    opacity: 1;
}

.cb-file-tabs .cb-file-tab.active .close {
    color: black;
    opacity: 0;
}

.cb-file-tabs .cb-file-tab.active:hover .close {
    opacity: 0.5;
}

.cb-file-tabs .cb-file-tab.active:hover .close:hover {
    opacity: 1;
}

.cb-editors .CodeMirror {
    border: 0;
    height: auto;
}

/*--------------------------- CodeMirror ----------------------------*/

.cb-vm .CodeMirror-lines {
}

.cb-file-container .CodeMirror {
    height: 100%;
}

.cb-vm .CodeMirror-matchingbracket {
    color: #46a546 !important; /* green */
}

.cb-vm .CodeMirror-nonmatchingbracket {
    color: #f89406 !important; /* orange */
}

.cb-vm .CodeMirror,
.cb-vm .CodeMirror-gutters {
    background-color: transparent;
}

.cb-vm .CodeMirror-linenumber {
    min-width: 2em;
    color: #ccc;
}

[data-cb-prompt-width="1"] .cb-repl-cm-gutter { width: 0.8em; }
[data-cb-prompt-width="2"] .cb-repl-cm-gutter { width: 1.6em; }
[data-cb-prompt-width="3"] .cb-repl-cm-gutter { width: 2.4em; }

.cb-file-cm-gutter {
    width: 0;
}

.cb-vm .CodeMirror-gutters {
    border-right: 0;
}

.cb-transcript {
}

/* use block cursor */

.cb-vm .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: rgba(0,0,0,0.3);
}

.cb-read-only .CodeMirror-cursor,
.cb-mode-running .CodeMirror-cursor {
    display: none !important;
}

/* prevent syntax highlighting in REPL output */

.cb-repl-result,
.cb-repl-result.cm-keyword,
.cb-repl-result.cm-atom,
.cb-repl-result.cm-number,
.cb-repl-result.cm-def,
.cb-repl-result.cm-variable,
.cb-repl-result.cm-punctuation,
.cb-repl-result.cm-property,
.cb-repl-result.cm-operator,
.cb-repl-result.cm-variable-2,
.cb-repl-result.cm-variable-3,
.cb-repl-result.cm-type,
.cb-repl-result.cm-comment,
.cb-repl-result.cm-string,
.cb-repl-result.cm-string-2,
.cb-repl-result.cm-meta,
.cb-repl-result.cm-qualifier,
.cb-repl-result.cm-builtin,
.cb-repl-result.cm-bracket,
.cb-repl-result.cm-tag,
.cb-repl-result.cm-attribute,
.cb-repl-result.cm-hr,
.cb-repl-result.cm-link,
.cb-repl-result.cm-error {
    color: black;
}

.cb-repl-output,
.cb-repl-output.cm-keyword,
.cb-repl-output.cm-atom,
.cb-repl-output.cm-number,
.cb-repl-output.cm-def,
.cb-repl-output.cm-variable,
.cb-repl-output.cm-punctuation,
.cb-repl-output.cm-property,
.cb-repl-output.cm-operator,
.cb-repl-output.cm-variable-2,
.cb-repl-output.cm-variable-3,
.cb-repl-output.cm-type,
.cb-repl-output.cm-comment,
.cb-repl-output.cm-string,
.cb-repl-output.cm-string-2,
.cb-repl-output.cm-meta,
.cb-repl-output.cm-qualifier,
.cb-repl-output.cm-builtin,
.cb-repl-output.cm-bracket,
.cb-repl-output.cm-tag,
.cb-repl-output.cm-attribute,
.cb-repl-output.cm-hr,
.cb-repl-output.cm-link,
.cb-repl-output.cm-error {
    color: black;
}

.cb-repl-error,
.cb-repl-error.cm-keyword,
.cb-repl-error.cm-atom,
.cb-repl-error.cm-number,
.cb-repl-error.cm-def,
.cb-repl-error.cm-variable,
.cb-repl-error.cm-punctuation,
.cb-repl-error.cm-property,
.cb-repl-error.cm-operator,
.cb-repl-error.cm-variable-2,
.cb-repl-error.cm-variable-3,
.cb-repl-error.cm-type,
.cb-repl-error.cm-comment,
.cb-repl-error.cm-string,
.cb-repl-error.cm-string-2,
.cb-repl-error.cm-meta,
.cb-repl-error.cm-qualifier,
.cb-repl-error.cm-builtin,
.cb-repl-error.cm-bracket,
.cb-repl-error.cm-tag,
.cb-repl-error.cm-attribute,
.cb-repl-error.cm-hr,
.cb-repl-error.cm-link,
.cb-repl-error.cm-error {
    color: #eb48ff;
    font-family: Times;
    font-style: italic;
}

/*------------------------- Error messages --------------------------*/

.cb-code-error {
    background-color: #eb48ff;
}

.cb-code-error-eol > span:after {
    content: " ";
/*    content: "                                                                                                                                                                        "; /* there must be a better way to go to end of line... */
    background-color: #eb48ff;
}

/*-------------------------- Font size ------------------------------*/

.cb-code-font {
    font-family: Courier;
}

.cb-vm .CodeMirror {
    font-family: Courier;
    font-size: 100%;
    line-height: 1;
}

.cb-vm[data-cb-large-font] .cb-console,
.cb-vm[data-cb-large-font] .cb-editors,
.cb-vm[data-cb-large-font] .tippy-box[data-theme="cb-exec-point-bubble"] {
    font-size: 140%;
    line-height: 1.4;
}

/*------------------ Execution point highlighting -------------------*/

.cb-exec-point-code {
    background-color: var(--cb-exec-point-color);
}

.tippy-box[data-theme="cb-exec-point-bubble"] {
    font-size: 100%;
    min-width: 8em;
    background-color: var(--cb-exec-point-bubble-color);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
}

.tippy-box[data-theme="cb-exec-point-bubble"] > .tippy-arrow {
    color: var(--cb-exec-point-bubble-color);
}

.tippy-box[data-theme="cb-exec-point-bubble"] > .tippy-content {
    padding: 0;
    font-size: 80%;
    width: 100%;
    color: black;
}

.tippy-box[data-theme="cb-exec-point-bubble"] .cb-exec-point-bubble-value-no-context {
    padding: 0.3em;
    text-align: center;
}

.tippy-box[data-theme="cb-exec-point-bubble"] .cb-exec-point-bubble-value {
    padding: 0.3em;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

.tippy-box[data-theme="cb-exec-point-bubble"] .cb-exec-point-bubble-context {
    padding: 0.3em;
}

.tippy-box[data-theme="cb-exec-point-bubble"] .cb-exec-point-bubble-binding {
    display: flex;
}

.tippy-box[data-theme="cb-exec-point-bubble"] .cb-exec-point-bubble-binding .cb-code-font {
    font-weight: bold;
    font-size: 110%;
}

/*-------------------------------------------------------------------*/

.cb-about-box {
    z-index: 10000;
}

/*-------------------------------------------------------------------*/

/*
.tooltip.bs-tooltip-left .tooltip-inner {
    font-size: 100%;
    font-weight: bold;
    color: black;
    border: 5px solid black;
    background-color: #FEF1B8;
}
*/

/*-------------------------------------------------------------------*/





/* ----- Layout ----- */


.row {
    margin-left: 0; /* Somehow, Bootstrap uses a negative margin for rows that makes our contents extend too far to the left. */
    padding: 0 10px;
}

#openFileModal input {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    line-height: 0;
}

/* ----- Menus ----- */

.dropdown-align-right {
    left: auto;
    right: 0; /* Display file list menu to the left of the button to avoid extending outside the page */
}

.dropdown-btns-only {
	min-width: 60px;
}

/* ----- Toolbars ----- */

.btn-toolbar {
  margin-top: 0;
  margin-bottom: 0;
}

/* Support nested button groups in toolbars */

.btn-toolbar > .btn-group > .btn-group {
	margin-left: -1px;
}

.btn-toolbar > .btn-group > .btn-group > .btn {
	-webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
}

.btn-toolbar > .btn-group > .btn-group:first-child > .btn {
	-webkit-border-bottom-left-radius: 4px;
	    -moz-border-radius-bottomleft: 4px;
            border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
            border-top-left-radius: 4px;
}

.btn-toolbar > .btn-group > .btn-group:last-child > .btn {
	-webkit-border-bottom-right-radius: 4px;
	    -moz-border-radius-bottomright: 4px;
            border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
            border-top-right-radius: 4px;
}

.btn-group > .btn-group + .btn {
    /* A button immediately following an inline btn-group should not leave a gap */
	margin-left: -1px;
}

.navbar .btn-group .btn {
	margin-left: -1px; /* Fix group layout in navbar */
}

.nav-tabs .btn-group:first-child {
    margin-left: 5px;
}

.nav-tabs > li > .btn-toolbar,
.row > .btn-toolbar.pull-right {
    margin-top: 3px;
}

/* ----- Tabs ----- */

.nav-tabs {
  margin-bottom: 0;
}

.tab-content {
  position: relative;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
     -moz-border-radius-bottomright: 4px;
     -moz-border-radius-bottomleft: 4px;
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;

  -webkit-border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
     -moz-border-radius-topright: 0;
     -moz-border-radius-topleft: 0;
          border-top-right-radius: 0;
          border-top-left-radius: 0;

  margin-top: -1px;
}

div.tab-content,
pre.tab-content,
#zzzcb-repl {
    margin-bottom: 20px;
}

div.tab-pane {
    padding: 10px;
}

.nav-tabs button.close,
.popover-title > span > button.close {
  margin: -3px -8px 0 0;
  padding-left: 8px;
}

.nav-tabs .dropdown-toggle .caret,
.nav-tabs .dropdown-toggle:hover .caret {
  /* Restore caret colours for file editor toolbars */
  border-top-color: black;
  border-bottom-color: black;
}

.navbar .btn-group {
    background-color: white; /* Need to show disabled buttons properly */
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
}

/* ----- Pseudo-body for DOM experimentation ----- */

#b table {
    float: left;
}

#b td {
    table-layout: fixed;
    width: 70px;
    height: 98px;
    text-align: center;
    vertical-align: middle;
    font-family: Helvetica;
    font-size: 24px;
}

#b img {
    vertical-align: middle;
    width: 100%;
}

/* ----- Drawing window ----- */

.cb-drawing-window {
/*    flex: 0 0 384px;
    padding: 15px 15px 15px 0;
*/
    padding: 0 0 0 0.5em;
    margin: 0;
    float: right;
    display: none;
}

/* ----- Pixels window ----- */

.cb-pixels-window {
/*    flex: 0 0 384px;
    padding: 15px 15px 15px 0;
*/
    padding: 0 0 0 0.5em;
    margin: 0;
    float: right;
    display: none;
}





.cont {
    display: flex;
    margin: 15px 15px 15px 15px;
    padding: 10px 0 10px 0;
    border-radius: 4px;
    background-color: gray;
}

.cons {
    flex: 1 1 auto;
    min-width: 0;
    flex-flow: row wrap;
    background-color: red;
    white-space: wrap;
}

.cons-transcript {
    overflow: auto;
    background-color: pink;
}

.cons-input {
    background-color: green;
}

.draw1 {
    background-color: purple;
}

.draw2 {
    display: none;
    background-color: purple;
}

.draw-window {
    background-color: blue;
}




.console-line {
  padding-left: 14px;
}

.console-output {
  padding-left: 14px;
}

.console-result {
  padding-left: 14px;
  margin-left: 14px;
}

.console-error {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 14px;
}

/* -------------------------------------
 * WORK ON ADDING TABS TO THE HELP MODAL
 * ------------------------------------- */
.cb-modal-dialog {
    width: calc(100% - 1rem);
}

@media (min-width: 576px) {
    .cb-modal-dialog {
        max-width: calc(100% - 3.5rem);
    }
}

#cb-help-box .js-novice,
#cb-help-box .js-standard,
#cb-help-box .py-novice {
    display: none;
}

[data-cb-lang=js-novice] ~ #cb-help-box .js-novice,
[data-cb-lang=js-standard] ~ #cb-help-box .js-standard,
[data-cb-lang=py-novice] ~ #cb-help-box .py-novice {
    display: block;
}

[data-cb-lang=js-novice] ~ #cb-help-box span.js-novice,
[data-cb-lang=js-standard] ~ #cb-help-box span.js-standard,
[data-cb-lang=py-novice] ~ #cb-help-box span.py-novice {
    display: inline;
}

#grammarTab {
    margin-top: 10px;
}

.grammar-clickable:hover {
    cursor: pointer;
}

.grammar-production {
    display: flex;
    padding: 0 5px;
    transition: 1s ease background-color;
}

.grammar-production.grammar-highlight {
    background-color: yellow;
}

.grammar-production:first-of-type {
    padding-top: 0;
}

.grammar-category-box {
    color: #aaa;
    flex-grow: 0;
    margin-bottom: 0;
    padding: 1px 0 0;
}

.grammar-rule-group {
    color: #aaa;
    flex-grow: 1;
    margin-left: 5px;
}

.grammar-rule {
    display: inline-block;
    margin-bottom: 4px;
    padding: 1px 7px 2px 2px;
    vertical-align: top;
}

.grammar-rule:not(:first-of-type) {
    border-left: 1px solid #ccc;
    margin-left: -2px;
    padding-left: 9px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.grammar-production .grammar-category {
    color: black;
    font-weight: normal;
}

.grammar-category-box .grammar-category {
    background-color: transparent;
    color: #333;
    font-weight: bold;
    margin-right: 5px!important;
}

.grammar-production .grammar-category,
.grammar-production .grammar-token {
    font-size: 87.5%;
}

.grammar-production .grammar-token {
    background-color: #e6e6e6;
    border-radius: .2rem;
    color: #333;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    margin: 0 1px ;
    padding: .1rem .3rem;
}

.grammar-token.multi {
    display: block;
}
